<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike Lock Control</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <style>
      .button-container {
        margin-top: 20px;
        text-align: center;
      }
      .button {
        background-color: #8a1b2b; /* ASU Maroon */
        color: #fcd23e; /* ASU Gold */
        padding: 10px 20px;
        margin: 10px;
      }
      /* Add any additional styles here */
    </style>
  </head>
  <body>
    <h1>Welcome, {{ user.username }}</h1>
    <div class="message">Have you ever seen something like this on campus?</div>
    <img src="{% static 'images/bike.jpg' %}" alt="Bike Image" />
    <div class="message">If yes, we are here to help you</div>

    <div class="button-container">
      <button class="button" onclick="window.location.href='/map/'">Map</button>
      <button
        class="button"
        onclick="window.location.href='/find-lock-number/'"
      >
        Find Lock Number
      </button>
      <button class="button" onclick="window.location.href='/insert-number/'">
        Insert a Number
      </button>
      <button class="button" onclick="window.location.href='/insure-bike/'">
        Insure Your Bike
      </button>
    </div>
  </body>
</html>
